storage
compile-cache
dev
.npm
.node-gyp
.apm
projects.cson
/packages/save-session/projects/*
nohup.out
/remoteEdit.json
/blob-store/BLOB
/blob-store/MAP
/blob-store/INVKEYS
/git-time-machine
/split-diff/split-diff*
/data-atom-connections.cson
