"*":
  "exception-reporting":
    userId: "3079f2c3-af1f-fc1b-e5c7-6add982dcebc"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "remember-session"
      "save-session"
      "markdown-lists"
      "recent-files-fuzzy-finder"
      "metrics"
      "welcome"
      "spell-check"
      "jshint"
      "indent-guide-improved"
      "background-tips"
      "symbols-view"
      "emmet"
      "timecop"
      "autosave"
    ]
    ignoredNames: [
      "node_modules"
      "*.scssc"
      ".git"
      ".cordova"
      "bower_components"
      "platforms"
      ".tag*"
    ]
    excludeVcsIgnoredPaths: false
    themes: [
      "atom-dark-ui"
      "kyokai"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    showInvisibles: true
    tabLength: 4
    scrollPastEnd: true
    showIndentGuide: true
    fontSize: 16
  minimap:
    plugins:
      "git-diff": true
      "highlight-selected": true
  "save-session":
    dataSaveFolder: "/home/dorian/.atom/packages/save-session/projects"
    windowX: 1985
    windowY: 24
    windowWidth: 1615
    windowHeight: 1026
    fullScreen: false
    projects: [
      "/media/data/www/phonegap-boilerplate-example"
      "/media/data/www/phonegap-boilerplate-server-example"
    ]
  "remember-session":
    x: 1986
    y: 52
    width: 1615
    height: 1026
  "markdown-writer":
    fileExtension: ".markdown, .md"
    urlForPosts: '''
            
      'enter': 'markdown-writer:insert-new-line'
    '''
  "toggle-quotes": {}
  "spell-check": {}
  tabs: {}
  pigments:
    extendAutocompleteToVariables: false
  "autocomplete-plus": {}
  emmet: {}
  "highlight-selected": {}
  jshint:
    supportLintingJsx: true
  "project-manager": {}
  "sublime-tabs": {}
  "file-icons": {}
  "isotope-ui": {}
  "tree-ignore":
    enabled: false
  "recent-files-fuzzy-finder": {}
  zentabs:
    maximumOpenedTabs: 8
    neverCloseDirty: true
    neverCloseUnsaved: true
  "fuzzy-finder": {}
  "terminal-status": {}
  achievements: {}
  "travis-ci-status": {}
  docblockr:
    extend_double_slash: false
    align_tags: "no"
    deep_indent: true
    spacer_between_sections: true
    per_section_indent: true
  "merge-conflicts": {}
  "markdown-preview":
    useGitHubStyle: true
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  "linter-php": {}
  linter:
    clearOnChange: true
    statusBar: "Show all errors"
    showErrorPanel: false
    lintOnChangeInterval: 500
  "xml-formatter": {}
  "atom-beautify":
    _analyticsUserId: "f55c1d04-4515-46e5-bdbd-95ab842e2fb7"
  "linter-jshint":
    jshintExecutablePath: "/usr/local/bin/jshint"
    disableWhenNoJshintrcFileInPath: true
  "todo-show": {}
  "linter-jscs":
    onlyConfig: true
    preset: "google"
    verbose: true
  "git-plus": {}
  "tree-view": {}
  "php-getters-setters": {}
  "remote-sync":
    difftoolCommand: "meld"
    logToConsole: true
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
      "shift"
    ]
  "atom-autocomplete-php": {}
  "git-blame": {}
  blame: {}
  "remote-edit":
    rememberLastOpenDirectory: true
  fonts:
    preview: "test -> => != >= <= <> !! ++ Ceci est un test ! function"
    fontFamily: "Hasklig"
  "one-dark-ui": {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
".js.regexp.source":
  editor:
    preferredLineLength: 80
