"*":
  achievements: {}
  "atom-autocomplete-php": {}
  "atom-beautify":
    _analyticsUserId: "f55c1d04-4515-46e5-bdbd-95ab842e2fb7"
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
      "shift"
    ]
  "autocomplete-modules": {}
  "autocomplete-plus": {}
  blame: {}
  "bracket-matcher": {}
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  core:
    audioBeep: false
    disabledPackages: [
      "remember-session"
      "save-session"
      "markdown-lists"
      "recent-files-fuzzy-finder"
      "metrics"
      "welcome"
      "spell-check"
      "jshint"
      "indent-guide-improved"
      "background-tips"
      "timecop"
      "autosave"
      "atom-bootstrap3"
      "merge-conflicts"
      "php-getters-setters"
      "project-manager"
      "travis-ci-status"
      "xml-formatter"
      "minimap"
      "minimap-git-diff"
      "minimap-highlight-selected"
      "atom-ternjs"
      "auto-detect-indentation"
      "css-snippets"
      "fonts"
      "git-plus"
      "javascript-snippets"
      "linter-jshint"
      "remote-edit"
      "smart-tags"
      "todo-show"
      "trailing-spaces"
      "turbo-javascript"
      "dev-live-reload"
      "zentabs"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "node_modules"
      "*.scssc"
      ".git"
      ".cordova"
      "bower_components"
      "platforms"
      ".tag*"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  docblockr:
    align_tags: "no"
    deep_indent: true
    extend_double_slash: false
    per_section_indent: true
    spacer_between_sections: true
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "3079f2c3-af1f-fc1b-e5c7-6add982dcebc"
  "file-icons": {}
  "find-and-replace": {}
  fonts:
    fontFamily: "Hasklig"
    preview: "test -> => != >= <= <> !! ++ Ceci est un test ! function"
  "fuzzy-finder":
    useAlternateScoring: true
  "git-blame": {}
  "git-plus":
    wordDiff: false
  "highlight-selected":
    onlyHighlightWholeWords: false
  "isotope-ui": {}
  linter:
    clearOnChange: true
    lintOnChangeInterval: 500
    showErrorPanel: false
    statusBar: "Show all errors"
  "linter-eslint":
    disableEslintIgnore: true
  "linter-jscs":
    onlyConfig: true
    preset: "google"
    verbose: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-jslint":
    disableWhenNoJslintrcFileInPath: true
    jslintVersion: "2013-08-26"
  "linter-php": {}
  "linter-phpcs":
    disableWhenNoConfigFile: true
    warningSeverity: 0
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".markdown, .md"
  "merge-conflicts": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui": {}
  "php-getters-setters": {}
  pigments:
    extendAutocompleteToVariables: false
  "project-manager": {}
  "recent-files-fuzzy-finder": {}
  "remote-edit":
    rememberLastOpenDirectory: true
  "remote-sync":
    difftoolCommand: "meld"
    logToConsole: true
  "spell-check": {}
  tabs: {}
  "terminal-status": {}
  "toggle-quotes": {}
  "travis-ci-status": {}
  "tree-ignore":
    enabled: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  "xml-formatter": {}
  zentabs:
    maximumOpenedTabs: 8
    neverCloseDirty: true
    neverCloseUnsaved: true
".attribute-values.js.jsx.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.jsx.react.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.jsx.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.regexp.replacement.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
    preferredLineLength: 80
".js.regexp.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
    preferredLineLength: 80
".js.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.source.subtlegradient":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
