"*":
  achievements: {}
  "atom-autocomplete-php": {}
  "atom-beautify":
    executables:
      php: {}
      phpcbf:
        path: "/home/dorian/repos/jvc-respawn/vendor/squizlabs/php_codesniffer/scripts/phpcbf"
    general:
      _analyticsUserId: "f55c1d04-4515-46e5-bdbd-95ab842e2fb7"
    js:
      end_with_comma: true
      indent_size: 2
    json:
      brace_style: "collapse-preserve-inline"
      end_with_newline: true
      indent_size: 2
      keep_array_indentation: true
    php:
      default_beautifier: "PHPCBF"
      phpcbf_version: 3
      standard: "/home/dorian/repos/jvc-respawn/tools/phpcs/jv_ruleset.xml"
  "atom-css-unit-converter": {}
  "atom-ctags":
    GotoSymbolKey: [
      "ctrl"
      "shift"
    ]
  "atom-import-sort":
    sortOnSave: true
  "atom-slack-snippets": {}
  "autocomplete-modules": {}
  "autocomplete-plus": {}
  blame: {}
  "bracket-matcher": {}
  "color-picker":
    preferredFormat: "HEX"
    randomColor: false
  core:
    disabledPackages: [
      "remember-session"
      "save-session"
      "markdown-lists"
      "recent-files-fuzzy-finder"
      "welcome"
      "spell-check"
      "jshint"
      "indent-guide-improved"
      "background-tips"
      "autosave"
      "atom-bootstrap3"
      "project-manager"
      "travis-ci-status"
      "xml-formatter"
      "smart-tags"
      "dev-live-reload"
      "timecop"
      "markdown-scroll-sync"
      "markdown-writer"
      "minimap-git-diff"
      "minimap-highlight-selected"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      "node_modules"
      "*.scssc"
      ".git"
      ".cordova"
      "bower_components"
      "platforms"
      ".tag*"
      "dist"
    ]
    packagesWithKeymapsDisabled: [
      "data-atom"
      "github"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  docblockr:
    align_tags: "no"
    deep_indent: true
    extend_double_slash: false
    per_section_indent: true
    spacer_between_sections: "true"
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  emmet: {}
  "exception-reporting":
    userId: "3079f2c3-af1f-fc1b-e5c7-6add982dcebc"
  "file-icons":
    strategies: {}
  "file-watcher":
    includeCompareOption: false
  "find-and-replace":
    liveSearchMinimumCharacters: 2
  fonts:
    fontFamily: "Hasklig"
    preview: "test -> => != >= <= <> !! ++ Ceci est un test ! function"
  "fuzzy-finder": {}
  "git-blame": {}
  "git-plus":
    wordDiff: false
  "gulp-control": {}
  "highlight-selected":
    onlyHighlightWholeWords: false
  "isotope-ui": {}
  linter:
    clearOnChange: true
    lintOnChange: false
    lintOnChangeInterval: 500
    lintOnOpen: false
    lintPreviewTabs: false
    statusBar: "Show all errors"
  "linter-eslint": {}
  "linter-jscs":
    onlyConfig: true
    preset: "google"
    verbose: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    jshintExecutablePath: "/usr/local/bin/jshint"
  "linter-jslint":
    disableWhenNoJslintrcFileInPath: true
    jslintVersion: "2013-08-26"
  "linter-pep8": {}
  "linter-php": {}
  "linter-phpcs":
    autoConfigSearch: false
    autoExecutableSearch: false
    codeStandardOrConfigFile: "/home/dorian/repos/jvc-respawn/tools/phpcs/jv_ruleset.xml"
    executablePath: "/home/dorian/repos/jvc-respawn/vendor/squizlabs/php_codesniffer/scripts/phpcs"
    ignorePatterns: [
      "**/*.blade.php"
      "**/*.twig.php"
      "**/vendor/**/*.php"
    ]
    warningSeverity: 0
  "linter-pylint": {}
  "linter-python-pep8":
    pep8DirToExecutable: "/usr/local/bin/pep8"
  "linter-stylelint":
    disableWhenNoConfig: true
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview":
    useGitHubStyle: true
  "markdown-writer":
    fileExtension: ".markdown, .md"
  "merge-conflicts": {}
  minimap:
    plugins:
      "git-diff": false
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  navigate: {}
  "one-dark-ui": {}
  "php-cs-fixer":
    executablePath: "/home/dorian/repos/jvc-respawn/app/vendor/bin/php-cs-fixer"
  "php-getters-setters": {}
  pigments:
    autocompleteSuggestionsFromValue: true
    extendAutocompleteToVariables: false
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
  "project-manager": {}
  "recent-files-fuzzy-finder": {}
  "remote-edit":
    rememberLastOpenDirectory: true
  "remote-sync":
    foldLogPanel: true
    monitorFileAnimation: false
  "seti-syntax":
    dynamicColor: false
    themeColor: "Steel"
  "spell-check": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  tabs: {}
  "terminal-status": {}
  "todo-show":
    findUsingRegex: "/\\bFIXME\\b/g"
    ignoreThesePaths: [
      "node_modules"
      "vendor"
      "bower_components"
      "dev-log"
    ]
    sortBy: "Path"
    statusBarIndicator: true
  "toggle-quotes":
    quoteCharacters: "'\""
  "travis-ci-status": {}
  "tree-ignore":
    enabled: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace: {}
  "xml-formatter": {}
  zentabs:
    manualMode: true
    maximumOpenedTabs: 6
    neverCloseDirty: true
    neverCloseUnsaved: true
    showPinnedIcon: false
".attribute-values.js.jsx.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".css.source":
  editor:
    nonWordCharacters: "/\\()\"':.,;<>~!@$%^&*|+=[]{}`?-…"
    tabLength: 4
".css.source.styled":
  editor:
    nonWordCharacters: "/\\()\"':.,;<>~!@$%^&*|+=[]{}`?-…"
".css.source.twig":
  editor:
    nonWordCharacters: "/\\()\"':.,;<>~!@$%^&*|+=[]{}`?-…"
".diff":
  editor:
    tabLength: 4
".diff.source":
  editor:
    tabLength: 4
".git-commit.text":
  editor:
    preferredLineLength: 72
    softWrap: false
    softWrapAtPreferredLineLength: false
    tabLength: 4
".git-config.source":
  editor:
    tabLength: 4
".git-rebase.text":
  editor:
    tabLength: 4
".html.mustache.text":
  editor:
    tabLength: 4
".js.jsx.react.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.jsx.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.regexp.replacement.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
    preferredLineLength: 80
    tabLength: 2
".js.regexp.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
    preferredLineLength: 80
    tabLength: 2
".js.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.source.subtlegradient":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".js.source.twig":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#%^&*|+=[]{}`?-…"
".mustache.source.sql":
  editor:
    tabLength: 4
".source.sql":
  editor:
    tabLength: 2
